mixin picturePreview(picture)
  div.picture.span3(data-id=picture.id)
    h3: a(href=picture.url) #{picture.title}
    a(href=picture.url): img(src=picture.src)
    p
      table.table.table-bordered.table-condensed: tbody
        tr
          td: strong Автор:
          td #{picture.user.login}
      a.btn.btn-small(href="/picture/" + picture.id + "/edit")
        | Редактировать
