div#topBar.navbar.navbar-inverse.navbar-fixed-top
  div.navbar-inner
    div.container-fluid
      a.brand(href='/') Pics-gallery
      div.nav-collapse.collapse
        - if (user)
          p.navbar-text.pull-right
            | Добро пожаловать,
            a(href='/user/' + user.id) #{user.login}
        - else
          p.navbar-text.pull-right
            | Добро пожаловать,&nbsp;
            a(href='/sign-up') Гость
        ul.nav
          - for (var i = 0; i < topMenu.length; i++) {
            - if (topMenu[i].active)
              li.active: a(href=topMenu[i].href) #{topMenu[i].label}
            - else
              li: a(href=topMenu[i].href) #{topMenu[i].label}
          - }
