extends ../../main/tpl/block/base

block title
  | Изменить

block content
  p: strong Обязательные поля отмечены звездочкой.
  form#editPictureForm.form-horizontal(novalidate)
    div#alerts

    div.control-group
      div.controls: img(src=src, width='200px', height='300px')

    div.control-group
      label.control-label Название*:
      div.controls
        span.help-block(data-error='required')
          | Введите название картины
        input.input-xlarge(name='title', type='text',
            placeholder='Название', required, value=title)

    div.control-group
      label.control-label Описание:
      div.controls
        textarea.input-xlarge(name='description', placeholder='Описание')
          | #{description}

    div.control-group
      div.controls
        button.btn.btn-success(data-action='editPicture') Изменить
        button.btn.btn-danger(data-action='deletePicture') Удалить

  div.attribute(data-id='pictureId', data-value=id)