extends ../../main/tpl/block/base

block title
  | Редактировать картину

block content
  p Обязательные поля отмечены звездочкой.
  form(ng-controller='EditPictureCtrl', name='editPictureForm', novalidate)
    input(type='hidden', value=id, ng-model='picture.id')
    table
      tr
        td.label Название
          span.required *
          | :

        td
          div.error(ng-target='title', ng-error='required')
            | Введите название картины
          input(type='text', name='title', ng-model='picture.title', required,
            ng-class='{validate: doValidate}', value=title)
      tr
        td.label Описание:
        td: textarea(name='description', ng-model='picture.description',
          ng-class='{validate: doValidate}', value=description)
      tr
        td
        td: div.buttons
          a.button(ng-click='editPicture()') Сохранить
          br
          a.button(ng-click='deletePicture()') Удалить
