extends ../../main/tpl/block/base
include mixin/picturePreview

block title
  =title

block content
  ul.thumbnails
    - for (var index in pictures) {
    - var picture = pictures[index];
      li.class3: div.thumbnail
        h3: a(href=picture.url) #{picture.title}
        img(src=picture.src, width=250, height=300)
        p
          table.table.table-bordered.table-condensed: tbody
            tr
              td: strong Автор:
              td #{picture.user.login}
          a.btn.btn-small(href="/picture/#{picture.id}/edit")
            | Редактировать
    - }
