<div class="picture" data-id="{{ picture.id }}">

  <div class="title">
    <a href="{{ picture.url }}">{{ picture.title }}</a>
  </div>

  <a href="{{ picture.url }}"><img src="{{ picture.src }}"></a>
  <div class="info">
    <table>

      <tr>
        <td style="font-weight: bold">Автор:
        <td>{{ picture.user.login }}
      </tr>

      <tr>
        <td>
        <td style="text-align: right">

          <a href="/picture/{{ picture.id }}/delete"
             class="redButton deletePictureButton"
              >Удалить</a>

          <a href="/picture/{{ picture.id }}/edit"
             class="redButton editPictureButton">Редактировать</a>
      </tr>

    </table>
  </div>

</div>